---
import PageLayout from "../layouts/PageLayout.astro";
const pageStatus = {
  title: "404 Error | Page Not Found",
  description: "I am not good at English, but I tried my best to make it."
}
---

<PageLayout title={ pageStatus.title } description={ pageStatus.description }>
  <section class="page-404 section">
    <div class="page-404__inner inner">
      <h1 class="page-404__heading">Oops! The page you're looking<br />for couldn't be found.</h1>
      <div class="page-404__body">
        <p class="page-404__text">Don't worry, it happens to the best of us.</p>
        <p class="page-404__text">You can <a class="back-to-home" href="/">return to the homepage</a> or try searching for what you're looking for.</p>
      </div>
    </div>
  </section>
</PageLayout>

<style lang="scss">
  @use "../styles/colors" as *;

  .page-404 {
    &__heading {
      font-family: "EB Garamond", serif;
      font-size: 5rem;
      letter-spacing: .05em;
    }

    &__body {
      margin-top: 2rem;
      font-size: 1.125rem;

      .back-to-home {
        margin-left: .5rem;
        margin-right: .5rem;
        font-size: 1.25rem;
        font-style: italic;
        border-bottom: 1px solid $color-text;
        transition-property: border-color, color;
        transition-duration: 0.1s;
        transition-timing-function: ease-in-out;

        @media (hover: hover) {
          &:hover {
            border-color: $color-accent;
            color: $color-accent;
          }
        }
      }
    }
  }
</style>