---
import type { Post } from "../lib/config";

const { posts } = Astro.props;
---

<ul class="all-posts">
  {
    posts.map((post: Post) => (
      <li class="all-posts__item"><a class="all-posts__link" href={ `/post/${ post.id }` }>{ post.title }</a></li>
    ))
  }
</ul>

<style lang="scss">
  @use "../styles/colors" as *;

  .all-posts {
    margin-top: 4rem;

    .all-posts__item + .all-posts__item {
      margin-top: 1rem;
    }

    &__link {
      border-bottom: 1px solid $color-text;
      transition-property: border-color, color;
      transition-duration: 0.1s;
      transition-timing-function: ease-in-out;

      @media (hover: hover) {
        &:hover {
          border-color: $color-accent;
          color: $color-accent;
        }
      }
    }
  }
</style>