---
---

<footer class="footer">
  <div class="footer__inner">
    <small class="copy">&copy; 2023 Astro JSONPlaceholder Posts by Nobiru Amarukawa</small>
  </div>
</footer>

<style lang="scss">
  @use "../styles/colors" as *;

  .footer {
    margin-top: 40px;
    border-top: 1px solid $color-text;
    
    &__inner {
      padding-top: 1em;
      padding-bottom: 1em;
      position: relative;

      &::after {
        content: "";
        width: 100%;
        border-top: 1px solid $color-text;
        position: absolute;
        top: 2px;
        left: 0;
      }
    }

  }

  .copy {
    display: block;
    font-size: .75rem;
    text-align: center;
  }
</style>