---
import Navigation from "./Navigation.astro";
import { Image } from "astro:assets";
import localHeaderLogo from "../assets/logo.svg";
---

<header class="header">
  <div class="header__inner inner">
    <a class="header__logo" href="/">
      <Image class="header__logo__image" src={ localHeaderLogo } alt="JSONPlaceholder Posts" />
    </a>
    <div class="global-navigation">
      <Navigation />
    </div>
    <button class="burger" aria-label="Burger toggle button">
      <span class="burger__bar"></span>
      <span class="burger__bar"></span>
      <span class="burger__bar"></span>
    </button>
    <div class="drawer-menu">
      <div class="drawer-menu__inner">
        <Navigation />
      </div>
    </div>
  </div>
</header>

<style lang="scss">
  @use "../styles/colors" as *;

  .header {
    border-bottom: 1px solid $color-text;
    
    &__inner {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      &::after {
        content: "";
        width: 100%;
        border-top: 1px solid $color-text;
        position: absolute;
        bottom: 2px;
        left: 0;
      }
    }

    &__logo {
      display: block;
      width: 240px;
    }

    .burger {
      width: 32px;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4px 0;

      &__bar {
        width: 100%;
        border-bottom: 4px solid $color-text;
        display: block;
        transition-property: transform, opacity;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
      }

      // JavaScriptでの処理
      &.js-active {
        .burger__bar:nth-of-type(1) {
          transform: rotate(-45deg) translate(-5px, 6px);
        }
        .burger__bar:nth-of-type(2) {
          opacity: 0;
        }
        .burger__bar:nth-of-type(3) {
          transform: rotate(45deg) translate(-5px, -6px);
        }
      }
    }
    
    .drawer-menu {
      overflow: hidden;
      position: absolute;
      top: calc(100% + 1px);
      right: 0;
      visibility: hidden;
      transition: visibility .2s ease-in-out;

      &__inner {
        transform-origin: right top;
        transform: rotate(-90deg);
        opacity: 0;
        transition-property: transform, opacity;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
      }

      // ***** JavaScriptでの処理
      &.js-active {
        visibility: visible;

        .drawer-menu__inner {
          transform: rotate(0);
          opacity: 1;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .header__logo {
        width: calc(88% - 32px);
      }

      .global-navigation {
        display: none;
      }

      .burger {
        display: flex;
      }
    }
  }
</style>

<script>
  const $burger: HTMLElement | null = document.querySelector(".burger");
  const $drawer: HTMLElement | null = document.querySelector(".drawer-menu");


  $burger?.addEventListener("click", () => {
    $burger?.classList.toggle("js-active");
    $drawer?.classList.toggle("js-active");
  })
</script>