---
---

<section class="main-visual section">
  <div class="main-visual__inner inner">
    <h1 class="main-visual__copy">Learning site<br />for astro<br />using JSONPlaceholder.</h1>
  </div>
</section>

<style lang="scss">
  .main-visual {
    height: 600px;

    &__inner {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__copy {
      font-family: "EB Garamond", serif;
      font-size: 5rem;
      letter-spacing: .05em;
    }
  }
</style>