---
interface PageLink {
  title: string;
  slug: string;
}

const pageLinks = [
  {
    title: "Home",
    slug: "/"
  }, {
    title: "All Posts",
    slug: "/allposts/1"
  }, {
    title: "Authors",
    slug: "/authors"
  }
];
---

<nav class="navi">
  {
    pageLinks.map((pageLink: PageLink) => (
      <a class="navi__link" href={ pageLink.slug }>{ pageLink.title }</a>
    ))
  }
</nav>

<style lang="scss">
  @use "../styles/colors" as *;

  .navi {
    display: flex;
    align-items: center;
    gap: 0 1.5em;

    &__link {
      transition: color 0.1s ease-in-out;

      @media (hover: hover) {
        &:hover {
          color: $color-accent;
        }
      }
    }

    @media screen and (max-width: 768px) {
      padding: 2rem 1.5rem 2.5rem 2.5rem;
      background-color: rgba($color: $color-text, $alpha: 1);
      flex-direction: column;
      align-items: flex-end;
      gap: 2rem 0;

      .navi__link {
        color: $color-bg;
        font-size: 1.25rem;
        border-bottom: 1px solid $color-bg;
      }
    }
  }
</style>